apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: production

namePrefix: prod-

resources:
  - ../../base

patches:
  - path: todo-backend-configmap-patch.yaml
    target:
      kind: ConfigMap
      name: todo-backend-configmap
  - path: todo-app-configmap-patch.yaml
    target:
      kind: ConfigMap
      name: todo-app-configmap
