apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-pong-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong-app
  template:
    metadata:
      labels:
        app: ping-pong-app
    spec:
      volumes:
        - name: shared-logs
          persistentVolumeClaim:
            claimName: ping-pong-logs-claim
      containers:
        - name: ping-pong
          image: ramanan98/ping-pong@sha256:21cad2769498f7b81384869599fd9bb6977ab47ac582ac5948a03a7d0bf7ad90
          env:
            - name: PORT
              value: "8080"
          volumeMounts:
            - name: shared-logs
              mountPath: /usr/src/app/files
        - name: log-output
          image: ramanan98/log-output-app@sha256:f1d8e4ba92670a914d6d17127f5adbda4bfa3e43caa8a2fd6a504c374d7a797e
          env:
            - name: PORT
              value: "8081"
          volumeMounts:
            - name: shared-logs
              mountPath: /usr/src/app/files
