apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-pong-app-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong-app
  template:
    metadata:
      labels:
        app: ping-pong-app
    spec:
      containers:
        - name: ping-pong-app
          image: ramanan98/ping-pong@sha256:9191f3d3868b4a310eed96c2794e90a87968f598a0032c1ddf931e46a5b6afef
          env:
            - name: PORT
              value: "8080"
