apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-output-dep
  namespace: exercises
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-output
  template:
    metadata:
      labels:
        app: log-output
    spec:
      containers:
        - name: log-output
          image: ramanan98/log-output@sha256:eb8a8400cf47190c78f23b1171b2cf50bb83fb37c06f4ac9bc71f43c65ac3eda
          env:
            - name: PORT
              value: "8080"
