apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      volumes:
        - name: shared-image
          persistentVolumeClaim:
            claimName: image-claim
      containers:
        - name: image-write
          image: ramanan98/image-write@sha256:62913bf723e6e33d4d11af0cd05dda521d81f346d1668871a3eb56dfed05ac1e
          volumeMounts:
            - name: shared-image
              mountPath: /usr/src/app/files
        - name: image-read
          image: ramanan98/image-read@sha256:573eada4959add7c8ee2e73aaac69df77599295bb57b80c071e3bdd7ca0e70e0
          env:
            - name: PORT
              value: "8080"
          volumeMounts:
            - name: shared-image
              mountPath: /usr/src/app/files
