apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      volumes:
        - name: shared-image
          persistentVolumeClaim:
            claimName: image-claim
      containers:
        - name: image-write
          image: ramanan98/image-write@sha256:62913bf723e6e33d4d11af0cd05dda521d81f346d1668871a3eb56dfed05ac1e
          volumeMounts:
            - name: shared-image
              mountPath: /usr/src/app/files
        - name: image-read
          image: ramanan98/image-read@sha256:0a8c1084e2e654ee1fd76111518e3baa89b78e28f85ec115c56e0062f38a659f
          env:
            - name: PORT
              value: "8080"
          volumeMounts:
            - name: shared-image
              mountPath: /usr/src/app/files
