apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-backend-dep
  namespace: project
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-backend
  template:
    metadata:
      labels:
        app: todo-backend
    spec:
      containers:
        - name: todo-backend
          image: ramanan98/todo-backend@sha256:e5b19050f9aca061e8c41307ac58558c1644511fa967684aedf92a53a0f81355
          env:
            - name: TODO_BACKEND_PORT
              valueFrom:
                configMapKeyRef:
                  name: todo-app-configmap
                  key: TODO_BACKEND_PORT
