apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-backend-dep
  namespace: project
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-backend
  template:
    metadata:
      labels:
        app: todo-backend
    spec:
      containers:
        - name: todo-backend
          image: backend-image
          env:
            - name: TODO_BACKEND_PORT
              valueFrom:
                configMapKeyRef:
                  name: todo-backend-configmap
                  key: TODO_BACKEND_PORT
            - name: POSTGRES_HOST
              valueFrom:
                configMapKeyRef:
                  name: todo-backend-configmap
                  key: POSTGRES_HOST
            - name: POSTGRES_PORT
              valueFrom:
                configMapKeyRef:
                  name: todo-backend-configmap
                  key: POSTGRES_PORT
            - name: POSTGRES_DB
              valueFrom:
                configMapKeyRef:
                  name: todo-backend-configmap
                  key: POSTGRES_DB
            - name: POSTGRES_USER
              valueFrom:
                configMapKeyRef:
                  name: todo-backend-configmap
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                configMapKeyRef:
                  name: todo-backend-configmap
                  key: POSTGRES_PASSWORD
