apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: staging

namePrefix: staging-

resources:
- ../../base

patches:
- path: broadcaster-patch.yaml
  target:
    kind: Deployment
    name: broadcaster
- path: reminder-patch.yaml
  target:
    kind: CronJob
    name: reminder
- path: todo-backend-configmap-patch.yaml
  target:
    kind: ConfigMap
    name: todo-backend-configmap
- path: todo-app-configmap-patch.yaml
  target:
    kind: ConfigMap
    name: todo-app-configmap

patchesJson6902:
- patch: |-
    - op: replace
      path: /metadata/name
      value: disabled-backup
    - op: replace
      path: /spec/suspend
      value: true
  target:
    group: batch
    kind: CronJob
    name: gcs-backup-postgres
    version: v1
- patch: |-
    - op: replace
      path: /spec/rules/0/backendRefs/0/name
      value: staging-todo-app-svc
    - op: replace
      path: /spec/parentRefs/0/name
      value: staging-dwk-material-gateway
  target:
    group: gateway.networking.k8s.io
    kind: HTTPRoute
    name: todo-app-route
    version: v1
images:
- name: backend-image
  newName: ramanan98/todo-backend
  newTag: 299a28d780b63196d303476d325f3399db58e6ec
- name: broadcaster-image
  newName: ramanan98/broadcaster
  newTag: 299a28d780b63196d303476d325f3399db58e6ec
- name: image-read-image
  newName: ramanan98/image-read
  newTag: 299a28d780b63196d303476d325f3399db58e6ec
- name: image-write-image
  newName: ramanan98/image-write
  newTag: 299a28d780b63196d303476d325f3399db58e6ec
- name: reminder-image
  newName: ramanan98/reminder
  newTag: 299a28d780b63196d303476d325f3399db58e6ec
