apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: staging

namePrefix: staging-

resources:
  - ../../base

patches:
  - path: broadcaster-patch.yaml
    target:
      kind: Deployment
      name: broadcaster
  - path: reminder-patch.yaml
    target:
      kind: CronJob
      name: reminder
  - path: todo-backend-configmap-patch.yaml
    target:
      kind: ConfigMap
      name: todo-backend-configmap
  - path: todo-app-configmap-patch.yaml
    target:
      kind: ConfigMap
      name: todo-app-configmap

patchesJson6902:
  - patch: |-
      - op: replace
        path: /metadata/name
        value: disabled-backup
      - op: replace
        path: /spec/suspend
        value: true
    target:
      group: batch
      kind: CronJob
      name: gcs-backup-postgres
      version: v1
images:
  - name: backend-image
    newName: ramanan98/todo-backend
    newTag: 4025eccbc0b21e06a403711f8f4e2be99040626a
  - name: broadcaster-image
    newName: ramanan98/broadcaster
    newTag: 4025eccbc0b21e06a403711f8f4e2be99040626a
  - name: image-read-image
    newName: ramanan98/image-read
    newTag: 4025eccbc0b21e06a403711f8f4e2be99040626a
  - name: image-write-image
    newName: ramanan98/image-write
    newTag: 4025eccbc0b21e06a403711f8f4e2be99040626a
  - name: reminder-image
    newName: ramanan98/reminder
    newTag: 4025eccbc0b21e06a403711f8f4e2be99040626a
