apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - postgres/service.yaml
  - postgres/statefulset.yaml
  - todo-backend/configmap.yaml
  - todo-backend/deployment.yaml
  - todo-backend/service.yaml
  - broadcaster/deployment.yaml
  - reminder/cronjob.yaml
  - backup-cronjob.yaml
  - configmap.yaml
  - persistentvolumeclaim.yaml
  - deployment.yaml
  - service.yaml
  - gateway.yaml
  - route.yaml

nameReference:
  - kind: HTTPRoute
    group: gateway.networking.k8s.io
    version: v1
    fieldSpecs:
      - path: spec/rules/backendRefs/name

images:
  - name: backend-image
    newName: ramanan98/todo-backend
  - name: broadcaster-image
    newName: ramanan98/broadcaster
  - name: image-read-image
    newName: ramanan98/image-read
  - name: image-write-image
    newName: ramanan98/image-write
  - name: reminder-image
    newName: ramanan98/reminder
